MONGODB_URI=<MONGODB_URI>
MONGODB_NAME=<MONGODB_NAME>
MONGO_NAME_TEST=<MONGO TEST DB NAME>
JWT_SECRET=<JWT_SECRET>
GEMINI_API_KEY=<YOUR_GEMINI_KEY>
AI_WEBSOCKET_URL=wss://generativelanguage.googleapis.com/ws/google.ai.generativelanguage.v1beta.GenerativeService.BidiGenerateContent
CORS_ORIGIN=<CLIENT DOMAIN>